<% layout('layouts/boilerplate') %>

<h1>Form to create new campground</h1>
<form action="/campgrounds" method="post">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      name="campground[title]"
      id="title"
      placeholder="Add Title"
    />
  </div>
  <div>
    <br />
    <label for="location">Add City & State</label>
    <input
      type="text"
      name="campground[location]"
      placeholder="Add City, State"
      id="location"
    />
  </div>
  <br />
  <button>Submit</button>
</form>
