<% layout('layouts/boilerplate') %>
<!-- html header -->

<div class="row">
  <h1 class="text-center">Form to create new campground</h1>
  <div class="col-6-offset-3">
    <form action="/campgrounds" method="post" novalidate class="validated-form">
      <div>
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          placeholder="Add Title"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <br />
        <label for="location" class="form-label">Add City & State</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          placeholder="Add City, State"
          id="location"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image Url</label>
        <input
          class="form-control"
          type="text"
          name="campground[image]"
          placeholder="Add Image Url"
          id="image"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Enter Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            id="price"
            name="campground[price]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Add Description</label>
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          placeholder="Add Description"
          id="description"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
  </div>
</div>
<footer>
  <a href="/campgrounds">Back to Index</a>
</footer>
